body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    font-size: 15px;
}
#tittle{
    font-weight: bold;
    font-size: 25px;
}
#texts{
    padding-top:10px;
}
#part1,#part2,#part3,#part4,#part5{
    padding-top: 10px;
}
.h1{
    font-weight: bold;
    font-size: 20px;
    padding:20px 0px 10px 0px;
}
.-a{
    display: block;
    width: 20%;
    float: left;
}
.label{
    float: left;
    font-weight: bold;
}
.-b{  
    display: block;
    width: 20%;
    float: left;  
 }
 .plus{
     margin-bottom: 5px;
     font-weight: bold;
 }